.addPost form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.addPost form textarea {
  width: 600px;
  border: 2px solid rgb(183, 228, 228);
  padding: 15px;
  border-radius: 20px;
  resize: none;
}

.addPost form textarea::placeholder {
  color: var(--color);
}

.addPost form textarea:focus {
  outline: none;
}

.addPost form .btn {
  font-size: 15px;
  width: 100px;
  align-self: flex-end;
  margin-top: 20px;
}

@media all and (max-width: 640px) {
  .addPost form textarea {
    width: 80vw;
  }
}
