.navMenu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.navMenu ul li {
  padding: 10px;
  margin: 0 20px;
}

.navMenu ul li a {
  text-decoration: none;
}

@media all and (max-width: 568px) {
  .navMenu ul li {
    margin: 10px 0px;
  }
}
