.post {
  margin: 20px 0;
  font-weight: 600;
  background-color: rgb(209, 248, 235);
  padding: 15px;
  border-radius: 20px;
  border-top: 10px solid gray;
}

.postHeader {
  display: inline;
}

.postHeader img {
  height: 50px;
  border-radius: 20px;
  margin-left: 0;
}

.postContent {
  width: 40rem;
  text-align: left;
  margin: 10px 0;
}

.postCreated {
  text-align: right;
  padding: 10px;
}
