.post {
  margin: 20px 0;
  font-weight: 600;
  background-color: rgb(209, 248, 235);
  padding: 15px;
  border-radius: 20px;
  border: 3px inset rgb(224, 224, 224);
}

.postHeader {
  display: inline;
}

.postHeader img {
  height: 50px;
  border-radius: 20px;
  margin-left: 0;
}

.postContent {
  width: 40rem;
  text-align: left;
  margin: 10px 0;
}

.postCreated {
  text-align: right;
  padding: 10px;
}

@media all and (min-width: 568px) and (max-width: 768px) {
  .post {
    width: 500px;
  }
  .postContent {
    width: 480px;
  }
}

@media all and (max-width: 568px) {
  .post {
    width: 300px;
  }
  .postContent {
    width: 280px;
  }
}
