* {
  box-sizing: border-box;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: rgba(12, 171, 219, 0.63);
  background-color: rgb(209, 248, 235);
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  border: 3px solid rgb(183, 228, 228);
  cursor: pointer;
}

.btn:hover {
  border: 3px solid rgb(101, 235, 235);
  transition: 0.3s ease-in;
}
